/* Body */
.buy-header {
  font-size: 55px;
  font-family: Arial;
  font-weight: 700;
  margin-top: 100px;
  color: rgb(32,23,73);
  line-height: 65px;
}
.buy-header span {
  display: block;
  width: 100%;
  margin: 5px 0;
}
@media (min-width: 767px) {
  .buy-header {
  text-align: left;
  }
  .buy-header span {
    display: inline;
    text-align: left;
    width: auto;
    margin: 0;
  }
  .buy-header.ease-word {
    text-align: center;
    display: block;
    margin-top: 10px;
  }
}
.mid-div {
  margin-top: 10px;
  display: grid;
}
.quidax-p {
  font-family: UncutSans,sans-serif;
  font-size: 13px;
  font-weight: lighter;
  line-height: 1.6;
  color: #4C4A55;
  display: flex;
}
.input-mail {
  background-color: transparent;
  width: 100%;
  font-size: 13.5px;
  height: 45px;
  border-radius: 8px;
  margin-left: 0px;
  border:0.2px solid #ccc;
  border: lighter;
  color: rgb(76, 74, 85);
  margin-top: 10px;
  padding-left: 16px;
}
.input-mail:focus {
  border-color:  #6100A5;;
  outline: none;
}
.started-button {
  background-color:  #6100A5;;
  color: white;
  border: none;
  height: 46px;
  width: 435px;
  margin-top: 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.started-button:hover {
  background-color: rgb(114, 233, 114);
  transition: 0.5s;
}
.main-div {
  display: flex;
  margin-top: 30px;
}
.sub-button1 {
  background-color: black;
  color: white;
  border: none;
  height: 45px;
  border-radius: 5px;
  width: 155px;
  font-weight: lighter;
  font-size: 10.5px;
}
.sub-button1 span {
  font-size: 18px;
}
.sub-button2 {
  background-color: black;
  color: white;
  border: none;
  height: 45px;
  border-radius: 5px;
  width: 155px;
  font-weight: lighter;
  font-size: 10.5px;
  margin-left: 18px;
}
.sub-button2 span {
  font-size: 18px;
}
@media  (min-width:700px) {
  .mid-div{
    place-items: center;
  }
  .main-div{
    justify-content: center;
  }
}
@media  (min-width:700px) {
  .input-mail {
    width: 300px;
  }
  .started-button {
    width: 110px;
  }
}
@media (max-width: 850px) {
  .input-search {
    display: none;
  }
}
.Quidax-info {
  color: #201749;
}
.mid-header {
  font-weight: 30px;
  font-size: 25px;
  color: #201749;
}
.texts {
  font-size: 16px;
  color: #4C4A55;
  font-weight: 9px;
}
.text {
  font-size: 16px;
  color: #4C4A55;
  font-weight: 9px;
}
.container-div {
  margin-top: 20px;
  height: 700px;
  width: 500px;
  margin-left: 0px;
  width: auto;
  background-color:  #6100A5;;
}
.input-div {
  display: flex;
  justify-content: space-between;
}
.tabs {
  display: flex;
  justify-content: space-between;
}
.input-search {
  background-color: rgb(207, 199, 199);
  width: 210px;
  height: 35px;
  border-radius: 5px;
  border-width:1px;
  border: lighter;
  border-color: whitesmoke;
}
.input-search:focus {
  border-color:  #6100A5;;
  outline: none;
}
@media (min-width:1000px) {
  .input-search {
    margin-right: 0px;
  }
}
.tabs .active {
  color:  #6100A5;;
  border-bottom: 2px solid  #6100A5;;
  padding-bottom: 4px;
}

.market-table {
  background: #fafafa;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.table-header,
.coin-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.table-header {
  font-weight: bold;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.coin-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.coin-info img {
  width: 32px;
  height: 32px;
}

.coin-price {
  text-align: right;
}

.up {
  color: green;
  font-size: 14px;
}

.down {
  color: red;
  font-size: 14px;
}
.see-more {
  text-align: center;
  color: #4b0082;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}
.container-menu {
  display: flex;
  flex-direction: column;
}
.container-box {
  background-color:  #6100A5;;
  height: 840px;
  display: flex;
  flex-direction: column; 
}
.img-box {
  width: 400px;
  height: 400px;
  padding-left: 20px;
  vertical-align: middle;
}
.img-capital {
  width: 400px;
  height: 400px;
  padding-left: 20px;
  vertical-align: middle;
}
.Quidax-h3 {
  font-size: 45px;
  font-weight: bolder;
  color: white;
  text-align: center;
}
.Quidax-p{
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding-top: px;
}

@media (min-width: 900px) {
  .container-menu {
      flex-direction: row;
   }
   .Quidax-info {
    order: 1;
   }
   .mid-header {
    order: 2;
   }
   .texts {
    order: 2;
   }
   .img-box {
    order: 1;
   }
   .container-box {
      flex-direction: row;
   }
   .Quidax-h3 {
      order: 1;
   }
   .Quidax-p {
      order: 1;
   }
   .text {
      order: 1;
   }
   .img-capital {
    order: 2;
   }
}

